TOKEN 275 : {
TOKEN 282 : vec4
TOKEN 284 : fCol
TOKEN 260 : =
TOKEN 284 : gl_color
TOKEN 281 : ;
TOKEN 282 : vec4
TOKEN 284 : fTex
TOKEN 260 : =
TOKEN 284 : gl_TexCoord
TOKEN 281 : ;
TOKEN 282 : vec4
TOKEN 284 : eyeNorm
TOKEN 281 : ;
TOKEN 282 : vec4
TOKEN 284 : coeff
TOKEN 281 : ;
TOKEN 282 : vec4
TOKEN 284 : shade
TOKEN 281 : ;
TOKEN 267 : const
TOKEN 282 : vec4
TOKEN 284 : lVec
TOKEN 260 : =
TOKEN 284 : env1
TOKEN 281 : ;
TOKEN 267 : const
TOKEN 282 : vec4
TOKEN 284 : lHalf
TOKEN 260 : =
TOKEN 284 : gl_Light_Half
TOKEN 281 : ;
TOKEN 267 : const
TOKEN 282 : vec4
TOKEN 284 : red
TOKEN 260 : =
TOKEN 282 : vec4
TOKEN 274 : (
TOKEN 272 : 1.0
TOKEN 265 : ,
TOKEN 272 : 0.0
TOKEN 265 : ,
TOKEN 272 : 0.0
TOKEN 265 : ,
TOKEN 272 : 1.0
TOKEN 278 : )
TOKEN 281 : ;
TOKEN 284 : eyeNorm
TOKEN 260 : =
TOKEN 284 : fTex
TOKEN 281 : ;
TOKEN 284 : eyeNorm
TOKEN 276 : [
TOKEN 271 : 3
TOKEN 280 : ]
TOKEN 260 : =
TOKEN 269 : dp3
TOKEN 274 : (
TOKEN 284 : eyeNorm
TOKEN 265 : ,
TOKEN 284 : eyeNorm
TOKEN 278 : )
TOKEN 281 : ;
TOKEN 284 : eyeNorm
TOKEN 276 : [
TOKEN 271 : 3
TOKEN 280 : ]
TOKEN 260 : =
TOKEN 269 : rsq
TOKEN 274 : (
TOKEN 284 : eyeNorm
TOKEN 276 : [
TOKEN 271 : 3
TOKEN 280 : ]
TOKEN 278 : )
TOKEN 281 : ;
TOKEN 284 : eyeNorm
TOKEN 260 : =
TOKEN 284 : eyeNorm
TOKEN 277 : *
TOKEN 284 : eyeNorm
TOKEN 276 : [
TOKEN 271 : 3
TOKEN 280 : ]
TOKEN 281 : ;
TOKEN 284 : shade
TOKEN 260 : =
TOKEN 284 : gl_Light_Ambient
TOKEN 277 : *
TOKEN 284 : fCol
TOKEN 281 : ;
TOKEN 284 : coeff
TOKEN 276 : [
TOKEN 271 : 0
TOKEN 280 : ]
TOKEN 260 : =
TOKEN 269 : dp3
TOKEN 274 : (
TOKEN 284 : lVec
TOKEN 265 : ,
TOKEN 284 : eyeNorm
TOKEN 278 : )
TOKEN 281 : ;
TOKEN 284 : coeff
TOKEN 276 : [
TOKEN 271 : 1
TOKEN 280 : ]
TOKEN 260 : =
TOKEN 269 : dp3
TOKEN 274 : (
TOKEN 284 : lHalf
TOKEN 265 : ,
TOKEN 284 : eyeNorm
TOKEN 278 : )
TOKEN 281 : ;
TOKEN 284 : coeff
TOKEN 276 : [
TOKEN 271 : 3
TOKEN 280 : ]
TOKEN 260 : =
TOKEN 284 : gl_Material_Shininess
TOKEN 276 : [
TOKEN 271 : 0
TOKEN 280 : ]
TOKEN 281 : ;
TOKEN 284 : coeff
TOKEN 260 : =
TOKEN 269 : lit
TOKEN 274 : (
TOKEN 284 : coeff
TOKEN 278 : )
TOKEN 281 : ;
TOKEN 284 : shade
TOKEN 260 : =
TOKEN 284 : shade
TOKEN 277 : +
TOKEN 284 : coeff
TOKEN 276 : [
TOKEN 271 : 1
TOKEN 280 : ]
TOKEN 277 : *
TOKEN 284 : fCol
TOKEN 281 : ;
TOKEN 284 : shade
TOKEN 260 : =
TOKEN 284 : shade
TOKEN 277 : +
TOKEN 284 : coeff
TOKEN 276 : [
TOKEN 271 : 2
TOKEN 280 : ]
TOKEN 277 : *
TOKEN 284 : fCol
TOKEN 281 : ;
TOKEN 284 : gl_FragColor
TOKEN 260 : =
TOKEN 284 : shade
TOKEN 281 : ;
TOKEN 279 : }
