TOKEN 275 : {
TOKEN 282 : vec4
TOKEN 285 : temp
TOKEN 281 : ;
TOKEN 266 : if
TOKEN 274 : (
TOKEN 261 : true
TOKEN 278 : )
TOKEN 275 : {
TOKEN 285 : temp
TOKEN 276 : [
TOKEN 271 : 0
TOKEN 280 : ]
TOKEN 260 : =
TOKEN 285 : gl_Color
TOKEN 276 : [
TOKEN 271 : 0
TOKEN 280 : ]
TOKEN 277 : *
TOKEN 285 : gl_FragCoord
TOKEN 276 : [
TOKEN 271 : 0
TOKEN 280 : ]
TOKEN 281 : ;
TOKEN 285 : temp
TOKEN 276 : [
TOKEN 271 : 1
TOKEN 280 : ]
TOKEN 260 : =
TOKEN 285 : gl_Color
TOKEN 276 : [
TOKEN 271 : 1
TOKEN 280 : ]
TOKEN 277 : *
TOKEN 285 : gl_FragCoord
TOKEN 276 : [
TOKEN 271 : 1
TOKEN 280 : ]
TOKEN 281 : ;
TOKEN 285 : temp
TOKEN 276 : [
TOKEN 271 : 2
TOKEN 280 : ]
TOKEN 260 : =
TOKEN 285 : gl_Color
TOKEN 276 : [
TOKEN 271 : 2
TOKEN 280 : ]
TOKEN 281 : ;
TOKEN 285 : temp
TOKEN 276 : [
TOKEN 271 : 3
TOKEN 280 : ]
TOKEN 260 : =
TOKEN 285 : gl_Color
TOKEN 276 : [
TOKEN 271 : 3
TOKEN 280 : ]
TOKEN 277 : *
TOKEN 285 : gl_FragCoord
TOKEN 276 : [
TOKEN 271 : 0
TOKEN 280 : ]
TOKEN 277 : *
TOKEN 285 : gl_FragCoord
TOKEN 276 : [
TOKEN 271 : 1
TOKEN 280 : ]
TOKEN 281 : ;
TOKEN 279 : }
TOKEN 266 : else
TOKEN 275 : {
TOKEN 285 : temp
TOKEN 260 : =
TOKEN 285 : gl_Color
TOKEN 281 : ;
TOKEN 279 : }
TOKEN 285 : gl_FragColor
TOKEN 260 : =
TOKEN 285 : temp
TOKEN 281 : ;
TOKEN 279 : }
